body{
    background: linear-gradient(to bottom right, #0D0D0D, #8A2BE2, #00FFFF);
    color: #FFFFFF;
    min-height: 100vh;
}
.main{
    background: linear-gradient(135deg, #00E5FF, #8A2BE2);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
    padding: 2rem;
    display:flex;
    border: 5px solid;
    height: 50vh;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2rem;

}
.headline img{
    position: relative;
    top: 100px;
    height: 100px;
    width: 100px;
    border-radius:20px ;
}
.headline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 500px;
}
li{
    list-style: none;
}
.container{
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: gold;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
.container *{
    position: relative;
    top: 5px;
    height: 40px;
    width: 90px;   
    text-decoration: none;
}
span{
    color: aqua;
}
.name{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
    text-shadow: 0 0 10px #00FFFF, 0 0 10px #8A2BE2;  
    text-align: center;
    font-size: 40px;
}
.sub{
    font-size: 20px;
    color:#EAEAEA;
    text-align: center;
    font-family: "Audiowide", sans-serif;
   font-weight: 400;
   font-style: normal;
}
button{
    width: 0;
  height: 0;
  background: none;
  border: none;
  cursor: pointer;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid cyan;
  border-radius: 5px; 
  position: relative;
  top: 15px;
  right: 70px;
  
}
.play{
    display: flex;
}
